$top-menu: #2c3136;
$top-contacts: #858a8f;
$top-btn: #1ab530;
$top-link: #073ef2;
$top-line: #f0f3f6;
$footer-text: #808386;
$footer-line: #42464a;
$tails-border: #e0e0e0;
$tails-num: #c0c5ca;
$accent-green: #1ab530;
$filter-border: #a574e5;
$arrivals-bg: #f0f1f4;
$oldprice: #8f8f8f;
$arrival-border: #dddddd;
$button-border: #b5b7b9;
$link-border: #d3d6e1;
$everyone-border: #dde1e5;
$accent-red: #f20739;
$accent-yellow: #ffea00;
$input-text: #788189;
$brands-border: #f5f5f5;
$header-links: #464c53;
$header-links-border: #c7c7c7;
$filters-buttons: #acb1b5;
$conditions-bg: #f9f9fb;
$calc-credit: #c7cdd3;
$benefits-bg: #f2f5f7;
$choose-bg: #20252a;
$choose-text: #798189;
$choose-form: #2b3035;
$choose-form__text: #fefefe;
$choose-border__form: #808386;
$border-dotted: #63676a;
$arrows-bg: #d5d6d7;

%dmsans-400 {
  font-family: "DMSans", sans-serif;
  font-weight: 400;
}

%dmsans-500 {
  font-family: "DMSans", sans-serif;
  font-weight: 500;
}

%dmsans-700 {
  font-family: "DMSans", sans-serif;
  font-weight: 700;
}

%rubik-300 {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}

%rubik-400 {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

%poppins-700 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

%rubik-700 {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
}

%nunito-700 {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}

%gilroy-200 {
  font-family: "Gilroy", sans-serif;
  font-weight: 200;
}

%gilroy-400 {
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
}

%gilroy-500 {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
}

%gilroy-600 {
  font-family: "Gilroy", sans-serif;
  font-weight: 600;
}

%gilroy-700 {
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
}

%gilroy-800 {
  font-family: "Gilroy", sans-serif;
  font-weight: 800;
}

%commissioner-300 {
  font-family: "Commissioner", sans-serif;
  font-weight: 300;
}

%commissioner-400 {
  font-family: "Commissioner", sans-serif;
  font-weight: 400;
}

%commissioner-500 {
  font-family: "Commissioner", sans-serif;
  font-weight: 500;
}

%commissioner-600 {
  font-family: "Commissioner", sans-serif;
  font-weight: 600;
}

%commissioner-700 {
  font-family: "Commissioner", sans-serif;
  font-weight: 700;
}

%transform {
  transform: translateX(-50%) translateY(-50%);
}

%shadow {
  box-shadow: 0 0 10px rgba(36, 63, 77, 0.5);
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}

@mixin text-limit {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
}

@mixin state {
  &:after {
    content: "";
    background-color: $header-accent;
    position: absolute;
    width: 0;
    height: 2px;
    transition: width 0.3s linear;
  }

  &:after {
    top: 100%;
    left: 0;
  }

  &:hover::after {
    width: 100%;
  }

  &:focus {
    border: 1px dashed $active;
  }

  &:active {
    color: $active;
  }
}

%checbox-hidden,
%radio-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}
