.commission {
  padding: 43px 0 43px;
  background-image: url(../images/mediator/commission-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1014px) {
      display: block;
    }
  }

  &__text-box {
    max-width: 470px;
    color: #fff;

    @media (max-width: 1014px) {
      margin-bottom: 30px;
      max-width: 100%;
    }
  }

  &__text-title {
    font-size: 48px;
    @extend %gilroy-700;
    margin-bottom: 15px;

    @media (max-width: 580px) {
      font-size: 36px;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 1.4;
    @extend %commissioner-300;
  }

  &__form-box {
    max-width: 485px;
    width: 100%;
    background-color: #fff;
    padding: 38px 25px;
    border-radius: 5px;

    @media (max-width: 1014px) {
      max-width: 100%;
    }

    @media (max-width: 380px) {
      padding: 25px 15px;
    }
  }

  &__form-title {
    font-size: 16px;
    @extend %gilroy-700;
    margin-bottom: 20px;
  }

  &__selects {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__select {
    margin-bottom: 10px;
    width: 213px;
    margin-right: 0;

    @media (max-width: 1014px) {
      width: 100%;
    }
  }

  .jq-selectbox__select {
    width: 213px;
    box-shadow: none;
    border: 1px solid $calc-credit;
    color: $choose-text;
    @extend %commissioner-400;

    @media (max-width: 1014px) {
      width: 100%;
    }
  }

  .filter-price__label {
    height: 45px;
    border-color: $calc-credit;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-weight: 400;
  }

  .filter-price__text,
  .filter-price__cost {
    font-size: 15px;
    line-height: 1.6;
    color: $choose-text;
    @extend %commissioner-400;
  }

  .filter-price__cost {
    color: $top-menu;
    font-weight: 500;
  }

  .irs-min,
  .irs-max,
  .filter-price__contribution-to {
    display: none;
  }

  .irs-single {
    display: none;
  }

  .irs-line {
    height: 4px;
    top: -12px;
    border-radius: 0 0 5px 5px;
    background-color: $calc-credit;
  }

  .irs--flat .irs-bar {
    height: 4px;
    top: -12px;
    border-radius: 0 0 0 5px;
    background-image: -webkit-linear-gradient(0deg, rgb(26, 181, 48) 0%, rgb(213, 249, 0) 100%);
  }

  .irs--flat .irs-handle {
    top: -20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
  }

  .irs--flat .irs-handle > i:first-child {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $accent-green;
    top: 4px;
    left: 5px;
  }

  &__inputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;

    @media (max-width: 1014px) {
      display: block;
    }
  }

  &__input {
    width: 213px;
    height: 45px;
    border: 1px solid $calc-credit;
    padding-left: 10px;
    font-size: 15px;
    line-height: 1.6;
    color: $choose-text;
    @extend %commissioner-400;
    border-radius: 5px;

    @media (max-width: 1014px) {
      width: 100%;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .register__consent-label {
    margin-bottom: 15px;
    display: block;
  }
}

.register__btn {
  &--comission {
    width: 100%;
  }
}