.questions {
  background-image: url(../images/content-img/questions-bg.jpg);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;
  padding: 60px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 60px;
    background-color: #fff;
    border-radius: 5px;
    max-width: 1115px;
    margin: 0 auto;

    @media (max-width: 830px) {
      flex-wrap: wrap;
    }

    @media (max-width: 710px) {
      padding: 20px;
    }
  }

  &__text-box {
    color: $top-menu;
    width: 310px;
    margin-right: 20px;

    @media (max-width: 830px) {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  &__title {
    font-size: 36px;
    @extend %gilroy-800;
    margin-bottom: 20px;

    @media (max-width: 530px) {
      font-size: 28px;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 1.5;
    @extend %commissioner-400;
  }

  &__form-box {
    max-width: 590px;
    width: 100%;
  }

  &__form {
    font-size: 16px;
    @extend %commissioner-400;
    color: $input-text;
  }

  &__inputs {
    input {
      border: none;
      padding: 15px 25px 15px 0;
      border-bottom: 1px solid $arrival-border;
      margin-bottom: 30px;
    }
  }

  &__input,
  &__bottom-input {
    width: 100%;
    background-image: url(../images/png/user.png);
    background-repeat: no-repeat;
    background-position: right 0 bottom 12px;

    &::placeholder {
      opacity: 0.5;
    }
  }

  &__bottom-inputs {
    display: flex;

    @media (max-width: 530px) {
      display: block;
    }
  }

  &__bottom-input {
    width: 50%;
    margin-right: 20px;

    @media (max-width: 530px) {
      width: 100%;
    }

    &:last-child {
      margin-right: 0;
    }

    &--phone {
      background-image: url(../images/png/smartphone.png);
      background-repeat: no-repeat;
      background-position: right 0 bottom 15px;
    }

    &--email {
      background-image: url(../images/png/email.png);
      background-repeat: no-repeat;
      background-position: right 0 bottom 15px;
    }
  }

  &__label {
    display: flex;
    align-items: center;
    margin-right: 20px;

    @media (max-width: 880px) {
      margin-bottom: 20px;
    }

    @media (max-width: 830px) {
      margin-bottom: 0;
    }

    @media (max-width: 570px) {
      margin-bottom: 20px;
    }
  }

  &__check {
    @extend %checbox-hidden;

    &:checked + .questions__checkbox {
      background-image: url(../images/png/check-white.png);
      background-repeat: no-repeat;
      background-position: left 4px center;
    }
  }

  &__checkbox {
    width: 18px;
    height: 18px;
    background-color: $accent-green;
    position: absolute;
    border-radius: 3px;
    cursor: pointer;
  }

  &__check-text {
    padding-left: 27px;
    font-size: 12px;
    line-height: 2;
    @extend %commissioner-400;

    span {
      color: $accent-green;
      font-weight: 500;
    }
  }

  &__form-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 880px) {
      flex-wrap: wrap;
    }

    @media (max-width: 570px) {
      display: block;
    }
  }

  &__btn {
    border: none;
    background-color: $accent-green;
    padding: 14px 19px;
    @extend %gilroy-600;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid $accent-green;
    transition: all 0.5s;

    &:hover {
      background-color: transparent;
      color: $accent-green;
      border: 1px solid $accent-green;
    }
  }
}

.questions--allautos {
  margin-bottom: 60px;
}
